@using GMS.Framework.Contract
@using GMS.Framework.Web.Controls
@using GMS.Account.Contract

@model PagedList<Role>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row-fluid">
    <div class="span4">
        <div>
            @if (true)
            {
                <a class="btn red" id="delete" href="javascript:">
                    <i class="icon-trash icon-white"></i>删除
                </a>
                <a class="btn blue thickbox" title='添加新菜' href="/Account/Shares/XinZengs?TB_iframe=true&height=600&width=800">
                    <i class="icon-plus icon-white"></i> 新增
                </a>
            }

        </div>
    </div>
    @*<div class="span8">
        <form action="javascript:" id="search" method="get">
            <div class="dataTables_filter">
                <label>
                    <button onclick="Dj()" class="btn">搜索 <i class="icon-search"></i></button>
                </label>
                <label>
                    <span>菜名：</span>
                    <input type="text" name="name" class="form-control" placeholder="请输入菜名">
                    <script>
                        function Dj() {
                            $.get("/Account/Lu/Index", { id:0,name: $("input[name='name']").val() });
                        }
                    </script>
                </label>

            </div>
        </form>

        
    </div>*@
</div>

@using (Html.BeginForm("Delete", "Lu", FormMethod.Post, new { id = "mainForm" }))
{
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th style="width: 8px;">
                @if (true)
                {
                    <input type="checkbox" id="checkall" class="group-checkable" />
                }
            </th>
            <th>
                成品图片
            </th>
            <th>
                菜品信息
            </th>
            <th>
                操作
            </th>
            @*<th>
                    菜品信息
                </th>
                <th class="hidden-480">
                    权限
                </th>
                <th>
                    操作
                </th>*@
        </tr>
    </thead>
    <tbody>

        @{
            List<GMS.Web.Admin.Menu> li = (List<GMS.Web.Admin.Menu>)Session["MenuList"];

            foreach (var item in li)
            {
                <tr>
                    <td>
                        @if (true)
                        {
                            <input type="checkbox" class="checkboxes" name='ids' value='@item.MenuId' />
                        }
                    </td>

                    <td style="width:380px;">
                        <img style="width:360px;height:240px;" src="@item.Img" />
                    </td>
                    <td >
                        <label style="height:45px;"><h3><strong>菜名：@item.MenuName</strong></h3></label>
                        <label style="height:40px;"><strong>口味特点：@item.CookingSteps</strong></label>
                        <label style="height:40px;"><strong>烹饪步骤：@item.trait</strong></label>
                        <label style="height:40px;"><strong>食材定量：@item.Kg</strong></label>
                        <label style="height:40px;"><strong>价格：@item.Money</strong></label>
                    </td>
                    <td style="padding-left:420px;">
                        <a id="TuiJian" onclick="TuiJian(@item.MenuId)" style="width:100px;height:40px;line-height:40px;display:block;background-color:#eee;color:black;" class="btn mini purple" title='推荐' href="javascript:"><i class="icon-edit"></i>&nbsp;推荐</a>
                        <a style="width: 100px; height: 40px; line-height: 40px; display: block; background-color: #eee; color: black;" class="btn mini purple thickbox" title='点评' href="/Account/Shares/DianPing/@item.MenuId?TB_iframe=true&height=550&width=700"><i class="icon-edit"></i>&nbsp;点评</a>
                        <a style="width: 100px; height: 40px; line-height: 40px; display: block; background-color: #eee; color: black;" class="btn mini purple thickbox" title='详细信息' href="/Account/Shares/XiangXi/@item.MenuId?TB_iframe=true&height=550&width=700"><i class="icon-edit"></i>&nbsp;详细信息</a>
                        <a style="width: 100px; height: 40px; line-height: 40px; display: block; background-color: #eee; color: black;" class="btn mini purple thickbox" title='编辑资料' href="/Account/Shares/BianJi/@item.MenuId?TB_iframe=true&height=550&width=700"><i class="icon-edit"></i>&nbsp;编辑及权限</a>
                        <script>
                            function TuiJian(id) {
                                alert(1)
                                $.get("@Url.Action("TuiJian","Shares")", { id: id }, function (data)
                                {
                                    
                                })
                            }
                        </script>
                    </td>
                </tr>
            }

        }

        @*@for (int i = 0; i < 10; i++)
        {
            <tr>
                <td>
                    @if (true)
                    {
                        <input type="checkbox" class="checkboxes" name='ids' value='@i' />
                    }
                </td>

                <td style="width:380px;">
                    <img style="width:360px;" src="~/images/0.jpg" />
                </td>
                <td style="width:400px;">
                    <label style="height:45px;"><h3><strong>菜名：@i</strong></h3></label>
                    <label style="height:40px;"><strong>口味特点：@i</strong></label>
                    <label style="height:40px;"><strong>烹饪步骤：@i</strong></label>
                    <label style="height:40px;"><strong>食材定量：@i</strong></label>
                    <label style="height:40px;"><strong>价格：@i</strong></label>
                </td>
                <td style="padding-left:420px;">
                    <a id="TuiJian" onclick="TuiJian()" style="width:100px;height:40px;line-height:40px;display:block;background-color:#eee;color:black;" class="btn mini purple" title='推荐' href="javascript:"><i class="icon-edit"></i>&nbsp;推荐</a>
                    <a style="width: 100px; height: 40px; line-height: 40px; display: block; background-color: #eee; color: black;" class="btn mini purple thickbox" title='点评' href="/Account/Shares/DianPing/@i?TB_iframe=true&height=550&width=700"><i class="icon-edit"></i>&nbsp;点评</a>
                    <a style="width: 100px; height: 40px; line-height: 40px; display: block; background-color: #eee; color: black;" class="btn mini purple thickbox" title='详细信息' href="/Account/Shares/XiangXi/@i?TB_iframe=true&height=550&width=700"><i class="icon-edit"></i>&nbsp;详细信息</a>
                    <a style="width: 100px; height: 40px; line-height: 40px; display: block; background-color: #eee; color: black;" class="btn mini purple thickbox" title='编辑资料' href="/Account/Shares/BianJi/@i?TB_iframe=true&height=550&width=700"><i class="icon-edit"></i>&nbsp;编辑及权限</a>
                    <script>
                        function TuiJian() {
                            alert(1)
                        }
                    </script>
                </td>
            </tr>
        }*@
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>以下图片仅供参考，请以实际为准</strong>
        </div>
    </tbody>
</table>
}
<div class="dataTables_paginate paging_bootstrap pagination">
    @Html.Pager(Model, new PagerOptions() { ShowTotalItemCount = true })
</div>

